/*
--- 01 TYPOGRAPHY SYSTEM

- Font size (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98


-SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Epilogue, sans-serif;
  font-weight: 400;
  color: #555;
}

.container{
  max-width: 144rem;
  margin: 0 auto;
}
/* HEADINGS */
.heading-primary{
  color: hsl(0, 0%, 8%) ;
  font-size: 8.6rem;
  font-weight: 600;
  margin-bottom: 6.8rem;
 
}

/* BUTTONS */
.btn{
  text-decoration: none;
  font-size: 1.8rem;
  padding: 1.6rem 2.4rem;
  border-radius: 15px;
}